includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 6
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - tests/*
        - bootstrap/*
        - database/*
        - storage/*
        - public/*
        - app/Http/Controllers/Auth/*
    ignoreErrors:
        - '#Class .* uses generic trait .* but does not specify its types#'
        - '#Method .* return type with generic class .* does not specify its types#'

